extends layout

block content
  p= title
  .flex.flex-col.items-center.justify-evenly.w-full.p-6.bg-gray-200.space-y-4(
    class="sm:flex-row"
  )
    h2 Newest Arrival
    a(href=product.url) #{ product.name } #{ product.price_formatted }
      img(crossorigin="anonymous", src=product.image)

  a(href="/product/create")
    button Create Product
