extends ../layout

block content
  h1
    a(href=productinstance.product.url) Instance: #{ productinstance.name }:
    | #{ productinstance.product.price }
  h3 Model No.#{ productinstance.model }
  h3 Condition: #{ productinstance.condition }

  h3 Price: #{ productinstance.price }

  if (!productinstance.description)
    p No Description
  else
    p Description: #{ productinstance.description }

  a(href=productinstance.url + "/delete")
    button Delete
  a(href=productinstance.url + "/update")
    button Update
